	#content {
		
	}
	#header { 
		background:url(../images/header.png) left top repeat-x;
	}
	#content .container {
	}
	.content-r #main_content, .content-r2 #main_content{
		padding:0 20px 20px 0;
	}
	.content-l #main_content, .content-l2 #main_content{
		padding:0 0 20px 20px;
	}
	.content-lr #main_content{
		padding:0 20px 20px;
	}
	.content-n #main_content { 
		padding:0 0 20px;
	}
	#logo {
		position:absolute;
	}
	/*------------------------------ MENU ------------------------------*/
	#secondarymenu-container {
		height:103px;
		position:relative;
		z-index:11;
		margin:0 -30px;
		padding:0 30px;
		background:url(../images/secondary-container.png) top no-repeat;
	}
	
	
	#secondarymenu {
		float:right;
		margin-right:-3px;
	}
	#secondarymenu a {
		padding:39px 16px 43px;
		font-size:13px;
		font-family:'opensanssemibold';
		text-transform:uppercase;
		color:#fff;
		text-shadow:0 1px 2px #0b6d42;
	}
	#secondarymenu a:hover{
		background:url(../images/secondary-hover.png);
	}
	#header-block {
		position:relative;
	}
	
	#mainmenu-container {
		height:50px;
		background:url(../images/mainmenu-container.png) bottom no-repeat;
		z-index:18;
	}
	#mainmenu { 
		float:left;
		max-width:800px;
		margin-left:-20px;
	}
	
	.menusearch {
		width:200px;
		float:right;
		margin-top:5px;
	}
	.menusearch .searchform {
		background:url(../images/searchform.png);
	}
	.menusearch .searchtxt {
		width:138px;
	}
	#mainmenu li a { 
		padding:13px 20px 12px;
		font-size:16px;
		color:#fff;
		font-family:'opensansbold';
		text-shadow:0 1px 2px #095f39;
	}
	#mainmenu li {
		position:relative;
	}
	#mainmenu li a:hover{
		background:url(../images/mainmenu-hover.png);
	}


	#header li ul {	top:104px; }
	#header #mainmenu li ul { top:51px; }
	
	#header li ul .transparent {	}
	#header li ul .inner { 
		background:#0f965a;	
		padding:0;
	}
	#header #mainmenu li ul .transparent {	}
	#header #mainmenu li ul .inner {	}
	#header ul.children li, #header .sub-menu li { 
		height:auto !important;
	}
	#header ul.children li a, #header .sub-menu li a {
		color:#fff;
		text-align:left;
		padding:5px 20px;
		height:auto !important;
		text-shadow:0 1px 2px #0a613a;
		font-family:'opensanslight' !important;
	}
	#header ul.children li a:hover, #header .sub-menu li a:hover {
		color:#e6e6e6 !important;
		background:#0e8a53 !important;
	}
	
	#header #mainmenu ul.children li a, #header #mainmenu .sub-menu li a {
		font-family:'opensansbold' !important;
	}
	#header #mainmenu ul.children li a:hover, #header #mainmenu .sub-menu li a:hover {	
	}
	
	/*------------------------------ SLIDER ------------------------------*/
	.slider-container {	
		position:relative;
		padding:3px;
		background:url(../images/slider-shadow.png) bottom no-repeat;
		background-color:#fff;
		width:994px;
		height:368px;
		margin:75px auto 0;
	}
	.slider {
	}
	.fp-next, .fp-prev {
		margin:0 -17px;
		width:44px;
		height:390px;
	}
	.fp-title { 
		text-align:center;
		margin-bottom:10px;
	}
	.fp-title a{
		font-size:40px;
		color:#656565;
		text-decoration:none !Important;
		font-family:'opensansbold';
		
	}
	.fp-content { 
		text-align:center;
	}
	.fp-content p { 
		color:#656565;
		line-height:20px;
		text-align:left;
	}
	.fp-prev-next-wrap {
		margin:0 0px;
	}
	.slider-nothumb .fp-slides, .slider-nothumb .fp-thumbnail, .slider-nothumb .fp-slides-items {
		height:188px;
	}
	.fp-slides,.fp-thumbnail,.fp-slides-items  {
		height:342px;
		width:994px;
	}
	.fp-content-fon {
		border:none;
		background:#fff;
		-moz-opacity: 0.9;
		opacity: 0.9;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
		height:173px;
		width:345px;
		left:auto;
		right:0;
		bottom:89px;
	}
	.fp-more-container { 
		text-align:center;
		margin-top:22px;
	}
	a.fp-more{ 
		background:url(../images/readmore.png) left repeat-x;
		color:#fff;
		font-size:13px;
		text-transform:lowercase;
		font-family:'OpenSansRegular';
		padding:9px 30px;
		border-radius:17px;
		-moz-border-radius:17px;
		-webkit-border-radius:17px;
		box-shadow:0 1px 2px #c5c5c5;		
	}
	a.fp-more:hover { 
		background:url(../images/readmore-hover.png) left repeat-x;
		text-decoration:none;
	}
	.fp-content { 
		right:12px;
		left:668px;
		height:163px;
		overflow:visible !important;
		bottom:89px;
		text-align:left;
		font-size:13px;
	}
	.fp-nav {
		left:25px;
		bottom:13px;
		right:auto;
	}
	.slider-nothumb .fp-content-fon {
		background:#fff;
	}
	.slider-nothumb .fp-content a,.slider-nothumb .fp-content p{
		color:#000;
	}
	.fp-pager a{ 
		width:28px;
		height:30px;
		background-repeat:no-repeat;
		background-position:center center;
		margin-right:0 !important;
	}
	#footer .footer_txt .container {
		
	}